nav {
    border-color: rgb(216, 216, 216); 
    border-style: solid; 
    border-width: 1px;
    height: 55px;
    align-content: center;
}

div.menu {
    align-items: center;
    display: flex;
    height: 77px;
    justify-content: center;
    width: 100%;
}

div.buscar {
    width: 500px;
    align-content: center;
    align-self: center;
    align-items: center;
    margin: 20%;
}

input.buscar {
    border-color: rgb(216, 216, 216);
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    width: 400px;
    height: 27px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    align-self: center;
}

div.center {
    align-self: center;
}

ul.bar {
    display: inline;
    padding-left:3px;
    padding-right:3px
}

.icon {
    width: 22px;
    height: 22px;
    margin: 10px;
}

.logo {
    width: 77pt; 
    height: auto; 
    margin: 0em; 
    padding: 0em;
}

.darkbar {
    background-color: black;
}

h2.dbar {
    color: rgb(148, 148, 148);
}